.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav-item{
    margin: 20px;
  }

  .nav-item a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px ;
    transition: color 0.3s ease;
  }

  .nav-item a:hover{
    color: #a55796;
  }

  .nav-item button{
    padding: 10px 20px;
    background-color: transparent;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  background-color 0.3s ease, color 0.3s ease;
 }

 .nav-item button:hover {
    background-color: #c757af;
    color: #fff;
    transform: scale(1.05);
 }