.transactionCardList-card-grid {
    display: flex;
    justify-content: center;
  }
  
  .booster {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; 
    padding: 20px;
    margin: 20px;
  }
  
  .cardTitle {
    text-align: center;
    color: black;
  }
  
  .cardTitle h3 {
    margin: 0;
    color: black;
  }
  
  .cardTitle p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .cardText {
    margin-top: 20px;
    color: black;
  }
  
  .property {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .property span {
    font-size: 16px;
    color: black;
  }
  
  .property span:first-child {
    font-weight: bold;
  }
  
  .property span:last-child {
    text-align: right;
  }
  
  .property span:last-child.low {
    color: red;
  }
  
  .property span:last-child.high {
    color: green;
  }
  